.error404{

  .site-content{width: $span_16;}

  h1,
  p{
    width: $span_16;
    padding: 0 $span_1 0 $span_1;
    text-align: center;
  }

  .site-footer{
    position: fixed;
    bottom: 0;
  }

  @media (max-width: 400px){h1{font-size: $med-large;}}
}
