.homepage-content{
	article {
	margin: 0 0 0 $span_1;
	width: $span_10;
	position: relative;
	overflow: hidden;

		//Make content inside of posts align
		.entry-header,
		.entry-meta,
		.entry-content,
		.attachment-post-thumbnail{display: inline-block;}

		.attachment-post-thumbnail{
			width: $span_2;
			height: $span_2;
		}

		.entry-title{
			line-height: 1em;
			margin: 3% 0 5px;
		}

		.entry-header{
			position: absolute;
			top: 0;
			padding-left: 3%;
			width: $span_7;
		}

		.entry-content{
			width: $span_7;
			position: absolute;
			top: 95px;
			padding: 0 0 3% 3%;
			background-color: $bgColor;

				p{
					padding: 0;
					margin: 0;
				}
		}

		.entry-meta{
			font-size: $ex-small;
			font-weight: 100;
		}
	}
		//Hide posts in images on the homepage
		.entry-content img{display: none;}

		//Make hr match post lenth
		hr{
			width: $span_9;
			float: left;
			margin: 3.125vw 0 3.125vw $span_1;
		}
}

//Styles for posts without a featured image
.homepage-content article:not(.has-post-thumbnail){
	height: $span_2; //Fix image setting height for posts with an image
}

//Page navigation fix on larger screens
@media (min-width: 960px){.homepage-content .nav-links{padding-top: $span_1;}}

//Media Queries

//Homepage media queries
@media (max-width: 960px){
	.homepage-content{
		position: relative;
		padding-bottom: $span_1; //Allocate room for older posts button

		hr,
		article{width: $span_14;}

		.entry-header,
		.entry-content,
		.entry-title,
		p{width: $span_12;}

		.entry-title{font-size: $medium;}

		.nav-links{
			position: absolute;
			bottom: 0;
			right: $span_1;
			margin-top: $span_1;
		}
	}

	.homepage-content article.has-post-thumbnail{
		.entry-content{top:75px;}//equal specificity to earlier
	}
}

@media (max-width: 733px){
	.homepage-content article,
	.homepage-content article.has-post-thumbnail{
		.entry-content{display: none;}
	}
}

@media (max-width: 500px){
	.homepage-content article.has-post-thumbnail,
	.homepage-content article:not(.has-post-thumbnail)
	{
		height: $span_5; //Allocate height for post content to be seen

		.attachment-post-thumbnail,
		.entry-meta{display: none;}

		.entry-header, .entry-content{
			display: block;
			padding: 0; //Reset padding from earlier in stylesheet
		}

		.entry-title{font-size: $med-small;}
	}

	.homepage-content article.has-post-thumbnail{
		.entry-content{top:45px;} //equal specificity to line 168
	}

	//Create mobile footer navigation button
	.homepage-content .nav-links{
		width: $span_16;
		height: $span_2;
		display: block;
		padding: $small 0 $small 0;
		margin: 0 0 $span_1 0; //Raise button above footer
		text-align: center;
		right: 0;
		background-color: $secondaryColor;

			a{
				color: $bgColor;
				width: 100%; //Make entire button clickable
				display: block;
			}
	}

	//Hide last hr and add more white space
	.homepage-content .site-main{padding-bottom: $span_1;}
}
